<h2> Emails sent </h2>

<p> Any user who  is currently following a company which is hosting an event today just receieved a notification email, provided the event is within a user specified distance of the user's address. </p>

<p> Click the home button to return to the home page </p>
